<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- import CSS -->
    <link rel="stylesheet" href="../css/base.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <style>
    #app {
      height: 100%;
    }
    #person {
      height: 100%;
      display: flex;
    }
    .content {
      width: 1000px;
      margin: auto;
      color: #000;
    }
    .main_title {
      color: #000;
      text-align: left;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .name {
      margin: 10px 0 10px 0;
      font-size: 14px;
      padding: 0 10px;
    }
    .detail {
      color: #888799;
      font-size: 14px;
      padding: 0 5px;
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: 10px;
    }
    .input-code .el-input__inner {
      width: 100%;
      border: none;
      background: #f5f4f3;
      color: #000;
    }
    .search {
      background-color: #a72830;
      border: none;
      color: #fff;
      width: 70px;
      height: 30px;
      border-radius: 5px;
      cursor: pointer;
      /* position: absolute;
    top: 22%;
    right: 1%; */
    }
    .el-input-group__append {
      padding: 0 8px;
      border: none;
      background: #f5f4f3;
    }
    .box {
      height: 234px;
      margin-top: 20px;
      border: 1px solid #888799;
      padding: 12px;
    }
    .more {
      float: right;
      margin-bottom: 5px;
    }
    .el-dialog {
      margin: 0 !important;
      box-shadow: none;
    }
    .cont {
      line-height: 20px;
    }
  </style>
  <body>
    <el-container id="app" direction="vertical">
      <!-- JOIN -->
      <el-container id="person">
        <el-header class="title">
          <a href="../index.html"
            ><el-image src="../img/header_logo.png" style="width: 237px"
          /></a>
        </el-header>
        <el-menu
          :default-active="activeIndex"
          mode="horizontal"
          active-text-color="#fff"
          class="menu-bar"
        >
          <a href="home.html">
            <el-menu-item index="1">Entrar en WFJ Taxrefund</el-menu-item>
          </a>
          <a href="refund.html">
            <el-menu-item index="2"
              >¿Cómo empezar el reembolso de impuestos?
            </el-menu-item>
          </a>
          <a href="person.html" class="active-link">
            <el-menu-item index="3">Culture Ambassador</el-menu-item>
          </a>
          <a href="join.html">
            <el-menu-item index="4">Iniciar desde este momento</el-menu-item>
          </a>
          <a href="contact.html">
            <el-menu-item index="5">Contactar con nosotros</el-menu-item>
          </a>
        </el-menu>
        <el-main style="padding: 30px 0px 30px 0px; background: #fff">
          <el-row class="content">
            <el-col :span="18">
              <p class="main_title">Embaixador cultural</p>
              <el-row style="position: relative">
                <el-col
                  v-for="(item,index) in itemList"
                  :span="5"
                  style="margin: 0 30px 30px 0; background: #f5f4f3"
                >
                  <img :src="`../img/img${index+1}.png`" alt="" width="100%" />
                  <el-row class="name">Nombre：{{item.name}}</el-row>
                  <el-row class="detail"> {{item.detail}} </el-row>
                  <el-row>
                    <el-col :span="7" class="more">
                      <a @click="handleClick(item,index)">more></a>
                    </el-col>
                  </el-row>
                </el-col>
                <el-dialog
                  style="position: absolute; margin: 0"
                  :modal="false"
                  :title="title"
                  :visible.sync="dialogVisible"
                  width="96%"
                >
                  <el-row>
                    <!-- <el-col :span="4" style="margin-right: 25px;"> -->
                    <img
                      :src="`../img/img${index}.png`"
                      alt=""
                      width="20%"
                      style="float: left; margin-right: 15px"
                    />
                    <span style="line-height: 22px">{{content}}</span>
                    <!-- </el-col> -->
                    <!-- <el-col  :span="19" class="cont"> -->
                    <!-- </el-col> -->
                  </el-row>
                  <!-- <el-row>
                          <el-col :span="19" class="cont"  style="margin-right: 20px;">
                          </el-col>
                          <el-col  :span="4">
                            <img :src="`../img/image1.jpeg`" alt="" width="110%">
                          </el-col>
                        </el-row> -->
                </el-dialog>
              </el-row>
            </el-col>
            <el-col :span="6">
              <p class="main_title">Socio comercial</p>
              <el-input
                placeholder="Socio comercial"
                v-model="code"
                class="input-code"
                style="position: relative"
              >
                <button slot="append" class="search" @click="search()">
                  Preguntar
                </button>
              </el-input>
              <p
                v-if="flag"
                style="color: red; margin-top: 10px; font-size: 12px"
              >
                por favor escribe Código de Socio
              </p>
              <div class="box" v-show="show">
                <el-row style="color: #888799; line-height: 40px">
                  CódigodeSocio: {{partners.partner_code}}
                </el-row>
                <el-row style="color: #888799; line-height: 40px">
                  WFJ ID: {{partners.partner_id}}
                </el-row>
                <el-row style="color: #888799; line-height: 40px">
                  Nombre y apellido: {{partners.partner_name}}
                </el-row>
                <el-row style="color: #888799; line-height: 40px">
                  Nivel de socio: {{partners.partner_level}}
                </el-row>
                <el-row style="color: #888799; line-height: 40px">
                  Autorizador: {{partners.partner_authorizer}}
                </el-row>
                <el-row style="color: #888799; line-height: 40px">
                  <img :src="partners.image" alt="" style="width: 50%" />
                </el-row>
              </div>
            </el-col>
          </el-row>
        </el-main>
        <div class="footer-div" style="margin-top: 0px;">
          <div class="footer-content">
            <div class="footer-imgset">
              <div class="footer-img">
                <img src="../img/fl1.png" class="footer-image" />
              </div>
            </div>
            <div class="footer-right">
              <img src="../img/fr1.png" class="footer-image" />
            </div>
          </div>
        </div>
      </el-container>
    </el-container>
  </body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: "#person",
      data: function () {
        return {
          dialogVisible: false,
          activeIndex: "1",
          show: false,
          timer: "",
          code: "",
          title: "",
          index: "",
          content: "",
          flag: false,
          partners: {},
          navname: [
            { name: "走进高岛屋", link: "pages/home.html" },
            { name: "如何进行退税", link: "pages/refund.html" },
            { name: "文化大使", link: "pages/person.html" },
            { name: "从此刻开始", link: "pages/join.html" },
            { name: "联系我们", link: "pages/contact.html" },
          ],
          itemList: [
            {
              name: "Daniel",
              detail: "La reacción de los graduados universitarios",
              content:
                "Mi nombre es Daniel, soy de Mendoza, tambien soy un estudiante universitario con especialización en aplicaciones informáticas. Después de graduarme, encontré un trabajo con un salario mensual de más de 30 000pesos. El alquiler mensual era aterrador y la tasa era muy alta en ese momento. Pero creo que algún día podré convertirme en multimillonario. COVD-19 comenzó a explotar en 2020. Despues me quede sin trabajo y no tenía ingresos.Me sentia pesimo en aquel momento,no tenia salida de vida ni futuro.pero a partir de una persona que conoci logre a comenzar con mi propio negocio.En Navidad de 2020, Afortunadamente conocí a una persona,que es mi compañera de universidad, es de China. Para ser el único, Wangfujing Group es uno de los grupos minoristas más grandes de China.Así que cuando mi amiga me presentó, me uní. Todos los días solo necesita pasar 10 minutos comprando en teléfono móvil y luego obtener un reembolso de impuestos para obtener una comisión.Esto me ayudó mucho a contraatacar cuando estaba desempleado.Desde los ingresos iniciales de decenas de yuanes por día hasta unos cientos por día y luego hasta unos pocos miles. Ahora tengo el primer auto de mi vida, mi propia casa, en solo un año y pico.Quiero agradecer a mis amigos y al Grupo Wangfujing.Me ayudaron de salir de una situacion muy complicada ademas me ayudaron de lograr mi sueño.Trabaja con el Reembolso de impuestos de Wangfujing, desde aca nuestros sueños realmente lleva a cabo.vamos por nuestro sueño,tiene que hacerlo ahora!!!",
            },
            {
              name: "ALICIA",
              detail: "El camino inspirador de Wangfujing de una madre soltera",
              content:
                'Hace seis años, después de graduarme de la universidad, a través de la presentación de un amigo, conocí a mi exmarido Weiqiang, que es un agente inmobiliario joven y prometedor. Nos enamoramos a primera vista y nos casamos después de medio año. salir a pasear , irme a shopping y encontrarme con mis hermanas para tomar el té, esta era mi vida.Desde que me quedé embarazada, Weiqiang comenzó a cambiar, se quedaba fuera por la noche, y luego me entere que él entro al hotel con una mujer desconocida. No pude soportar eso y decidí divorciarme. Para criar a nuestra hija, me dio un millón de dólares.Tengo que cuidar a mi hija después del divorcio, no pude salir a trabajar y la inversión en bolsa me causo una gran perdida. Mi tío es funcionario del gobierno provincial, sabe que la plataforma de compras "Wangfujing" es una marca china influyente en el mundo y me recomendó que la probara.Al principio ganaba dinero comprando sola. Después, tuve un equipo. Se me unieron familiares, amigos y compañeros. También descubrimos el principio de "Mas ganas cuando tu equipo es mas grande", que nos permitirá tener más comisiones. Luego la calidad de vida se vuelve a mejorar. Tengo más amigos y empleados y tengo más ahorros.Gracias Wangfujing por darme un este gran trabajo. Gracias a todos mis equipos, comenzamos un negocio juntos y vamos a tenemos una vida maravillosa!',
            },
            {
              name: "Martina",
              detail: "A través de ama de casa hasta dueña de una pastelería",
              content:
                "Soy Martina y vivo en Ushuaia. Me quedo cuidando mis niños en casa desde que me casé y mi esposo es pastelero. En realidad nuestra familia tenía una fuente de ingresos estable y vivíamos bien. Pero con el brote de CVOD-19, mi esposo perdió su trabajo y nuestras vidas comenzaron momentos dificiles.Un día, cuando conecte a la red social, recibí un mensaje que decía que podía ganar dinero en casa. Traté de intentarlo y me comuniqué con el servicio de atención al cliente de Wangfujing. Ella pacientemente me enseñó todo el proceso de devolución de impuestos y también recibí mi primera comisión, aunque fue muy poco, pero fue un buen comienzo. Poco a poco, mis familiares y amigos tambien entraron conmigo a Wangfujing y ganamos cada vez más dinero. Ahora yo y un equipo de cientos de personas, mi esposo y yo somos dueños de una pastelería propia, mi familia y yo estamos muy agradecidos con Wangfujing.",
            },
            {
              name: "Carlos",
              detail: "Mis días cuando estaba en la universidad",
              content:
                "Nací en un pueblo lejano. Cuando entré a la universidad en 2016, mi pobre situación familiar me hizo temer la vida universitaria, porque sabía que requeriría una gran suma de dinero para sostener mi estudio. Al inscribirme, tengo que trabajar y estudiar, no hay otra manera.Lo que fue inolvidable es el trabajo a tiempo parcial en un restaurante. Tengo que limpiar un monton de platos todos los días. Este trabajo es un poco duro para mí. Cada vez que me tarde de terminar, mi jefe me retaba fuerte , el chef me regañaba, e incluso el camarero que servía los platos se burlaba.Un día, mi compañero de clase de chino me vio cuando fui a un restaurante a comer. Me presentó la plataforma de compras Wangfujing de China y me dijo que no hace falta trabajar tan duro, y tambien puede ganar suficiente dinero para la matricula y los gastos.Le escuche y lo hice. Despues todos los estudiantes que trabajaban mientras estudiaban se unieron a mí. Ya no necesitamos ir a trabajar en los restaurantes, bares y calles. La esperanza es nuestro motor. Me elijieron como presidente del sindicato de estudiantes. Cuando me gradué, me convertí en el director regional de Wangfujing y ya tengo mi propia casa y mi auto. Creo que todo este esfuerzo es la escalera hacia al éxito, y al mismo tiempo se ha verificado",
            },
          ],
        };
      },
      methods: {
        handleClick(item, index) {
          console.log(item);
          this.dialogVisible = true;
          this.title = item.detail;
          this.index = index + 1;
          this.content = item.content;
        },
        search() {
          var that = this;
          if (!that.code) {
            that.flag = true;
            return;
          } else {
            that.flag = false;
            const form = new FormData();
            form.append("partner_code", that.code);
            axios
              .post("https://www.wfj-world.com/v1/partners", form)
              .then(function (response) {
                that.show = true;
                that.partners = response.data.data[0];
              })
              .catch(function (error) {
                console.log(error);
              });
          }
        },
      },
    });
  </script>
</html>
